.list[data-v-5c5550e4]{display:flex;flex-direction:column}.list__item[data-v-5c5550e4]{display:grid;grid-template-columns:-webkit-max-content 1fr;grid-template-columns:max-content 1fr;-moz-column-gap:20px;column-gap:20px;align-items:center;margin:10px 20px}