.details[data-v-78ef678a]{margin-top:30px;margin-bottom:30px;position:relative}.details__title[data-v-78ef678a]{cursor:pointer}.details__code[data-v-78ef678a]{position:absolute;background:#fff;border:2px solid;padding:30px 20px;width:90%;overflow-x:auto;z-index:2}